{% extends '_base.html' %}}
{% load crispy_forms_tags %}
{% block page_title %}
    demo Info
{% endblock %}

{% block content %}
    <h5>لیست بیماران</h5>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ردیف</th>
            <th scope="col">نام</th>
            <th scope="col">نام خانوادگی</th>
            <th scope="col">کدملی</th>
            <th scope="col">جنسیت</th>
            <th scope="col">نمایش اطلاعات</th>
        </tr>
        </thead>
        <tbody>
        {% for patient in demo_info %}
            <tr>
                <th scope="row">{{ patient.id }}</th>
                <td>{{ patient.first_name }}</td>
                <td>{{ patient.last_name }}</td>
                <td>{{ patient.national_code }}</td>
                <td>{{ patient.gender }}</td>
                <td>
                    <a href="">
                        <button type="button" class="btn btn-primary">انتخاب</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#    <form action="" method="post">#}
    {#        {% csrf_token %}#}
    {#        {{ form|crispy }}#}
    {#    </form>#}
{% endblock %}
